API_ID="12582692"

API_HASH="0cc6c116537ac12443232e653dd19876"

BOT_TOKEN="8336151026:AAHQ5ajx5H7s36Z_oI25o3N3fdYybido1nU"

OWNER_ID = "7267970321" #ID of the owner of the bot (not username)

SUDO_USERS = "" # Users With God Permission (Separate Them With space)

AUTH_CHATS = "" # Chats that can use the bot (Separate them with space)

LOG_GROUP = "-1003134951913" # Group ID for the log channel

SPOTIPY_CLIENT_SECRET = "2bb378e0e8064f7b8acaa71905f57b6e" #Spotify Client Secret

SPOTIPY_CLIENT_ID = "26cea7e7fcb1408989fd5836bda0cea9" #Spotify Client ID
